@charset "utf-8";

body{
    font-size: 12px;
}

.inputbtn{
    border: solid 1px #ccc;
    background-color: #eee;
    line-height: 18px;
    font-size: 12px;
}

.inputtxt{
    border: solid 1px #ccc;
    padding: 3px;
    line-height: 18px;
    font-size: 12px;
    width: 160px;
}

fieldset{
    padding: 10px;
    width: 280px;
    float: left;
}
